$primary-color: #222;

*, *:before, *:after {
    box-sizing:border-box;
}

body {
    font: 15px/24px 'Open Sans', sans-serif;
}
img {
    display:block;
}

#top {
    width:100%;
    float:left;
    background:$primary-color;
}

.wrapper {
    max-width:1060px;
    width:90%;
    margin:0 auto;
}

#logo {
    float:left;
    padding:15px 0;

    @media (max-width: 767px) {
        width:100%;
        text-align:center;
    }
}
#logo img {
   width:300px;
   height:auto; 

   @media (max-width: 767px) {
        width:80%;
        display:inline-block;
    }
}

ul#menu {
    list-style:none;
    margin:0;
    float:right;
    
    li {
        float:left;
        
        a {
            text-decoration:none;
            color:#fff;
            font-weight:bold;
            line-height: 59px;
            padding:0 20px;
            display:block;
            text-transform:uppercase;
        }
        a:hover {
            background:#fff;
            color:#222;
        }
    }
}

#slideshow {
    margin:0 0 30px;
    
    img {
        width:100%;
        height:auto;
    }
}

.row {
    width:100%;
    display:flex;
    
    @media (max-width: 767px) {
        display:block;
    }
    
    .col {
        flex:1;
        margin:0 30px 30px 0;
        
        @media (max-width: 767px) {
            width:100%;
            text-align:center;
        }

        .grey-block {
            background:#eee;
            padding:20px;
        }
    }
    .col:last-child {
        margin-right:0;
    }
}
.footer {
    background:#222;
    padding:30px 0;
    color:#aaa;
}

h1 {
    font-size:30px;
    font-weight:bold;
    margin:0 0 25px;
    line-height:36px;
}

p {
    margin:0 0 20px;
}