$primary-color: #222;

body {
	
}

#top {
    width:100%;
    float:left;
    background:$primary-color;
    line-height:40px;
}
.wrapper {
    width:1060px;
    margin:0 auto;
}
#logo {
    float:left;
}
ul#menu {
    list-style:none;
    margin:0;
    float:right;
	
	li {
		float:left;
		padding:0 20px;
		
		a {
			text-decoration:none;
			color:#fff;
		}
	}
}